
@font-face {
    font-family: 'UNCAGE';
    src: url('UNCAGE-Regular.ttf');
}
@font-face {
    font-family: 'UNCAGE-Bold';
    src: url('UNCAGE-Bold.ttf');
}

body {
    margin: 0;
    background: black;
    color: white;
    font-family: 'UNCAGE', sans-serif;
    text-align: center;
}

.header-logo img {width: 80px; margin: 20px auto; display: block;}

.hero-img {width: 90%; height: 60vh; object-fit: cover; border-radius: 20px; margin-top:20px;}

.btn-yellow {
    display: inline-block;
    padding: 14px 34px;
    background: #F2B705;
    color: black;
    border-radius: 50px;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
}

.line {width: 20%; height: 1px; background: white; opacity:0.3; margin: 20px auto;}

.btn-social {
    padding: 10px 20px;
    background: white;
    color: black;
    border-radius: 30px;
    margin: 5px;
    display: inline-block;
}

.grid {display: grid; gap: 14px; padding: 20px;}
.premium-grid img {width: 100%; border-radius: 16px; box-shadow:0 0 12px rgba(255,255,255,0.05);}

@media(max-width:768px){
  .premium-grid {grid-template-columns:1fr;}
  .hero-img {width: 100%; height: 50vh;}
  h1 {font-size:28px;}
}
